//- mixin logo
//- 	if page == 'home'
//- 		.logo
//- 			img.img(src="assets/img/logo.svg", alt="alt")
//- 	else
//- 		.logo
//- 			a(href="index.html")
//- 				img.img(src="assets/img/logo.svg", alt="alt")



//- mixin checkbox(txt)
//- 	label.checkbox
//- 		input(type='checkbox', name='privacy')
//- 		span.checkbox__wrap
//- 			svg.checkbox__check(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 14.5 11.5')
//- 				path(d='M20 7L12 16L8 12', fill-opacity='0', transform='matrix(1,0,0,1,-6.75,-5.75)')
//- 		span.checkbox__text !{txt}






